p{
    font-weight: bold;
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color: rgb(209, 33, 33)
}

body{
    background-color: rgb(249, 237, 200);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    border: 5px solid black;
    margin: 25px;
    padding: 13px;
}

.centered-list{
    padding-left:0;
    list-style-position:outside;
    margin: 0 auto;
    display: table;
    text-align: left;
}